In [2]:
# import modules

import pandas as pd
import numpy as np
import gc

In [3]:
pd.options.display.max_rows = 4000

In [4]:
# import the data

raw = pd.read_csv('used_cars_data.csv')

print(raw)

C:\Users\mrkel\AppData\Local\Temp\ipykernel_9732\3157427677.py:3: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv('used_cars_data.csv')

                       vin back_legroom  bed bed_height bed_length  \
0        ZACNJABB5KPJ92081      35.1 in  NaN        NaN        NaN
1        SALCJ2FX1LH858117      38.1 in  NaN        NaN        NaN
2        JF1VA2M67G9829723      35.4 in  NaN        NaN        NaN
3        SALRR2RV0L2433391      37.6 in  NaN        NaN        NaN
4        SALCJ2FXXLH862327      38.1 in  NaN        NaN        NaN
...                    ...          ...  ...        ...        ...
3000035  2GNAXJEV0J6261526      39.7 in  NaN        NaN        NaN
3000036  1GNERFKW0LJ225508      38.4 in  NaN        NaN        NaN
3000037  3FA6P0HD3GR134062      38.3 in  NaN        NaN        NaN
3000038  SAJAJ4BNXHA968809        35 in  NaN        NaN        NaN
3000039  JN8AT2MT1HW400805      37.9 in  NaN        NaN        NaN

               body_type cabin       city  city_fuel_economy  \
0        SUV / Crossover   NaN    Bayamon                NaN
1        SUV / Crossover   NaN   San Juan                NaN
2                  Sedan   NaN   Guaynabo               17.0
3        SUV / Crossover   NaN   San Juan                NaN
4        SUV / Crossover   NaN   San Juan                NaN
...                  ...   ...        ...                ...
3000035  SUV / Crossover   NaN  Fairfield               26.0
3000036  SUV / Crossover   NaN    Vallejo               18.0
3000037            Sedan   NaN       Napa                NaN
3000038            Sedan   NaN  Fairfield               30.0
3000039  SUV / Crossover   NaN       Napa               26.0

         combine_fuel_economy  ...  transmission         transmission_display  \
0                         NaN  ...             A  9-Speed Automatic Overdrive
1                         NaN  ...             A  9-Speed Automatic Overdrive
2                         NaN  ...             M               6-Speed Manual
3                         NaN  ...             A  8-Speed Automatic Overdrive
4                         NaN  ...             A  9-Speed Automatic Overdrive
...                       ...  ...           ...                          ...
3000035                   NaN  ...             A                    Automatic
3000036                   NaN  ...             A                    Automatic
3000037                   NaN  ...             A  6-Speed Automatic Overdrive
3000038                   NaN  ...             A                    Automatic
3000039                   NaN  ...             A                    Automatic

         trimId        trim_name  vehicle_damage_category wheel_system  \
0        t83804     Latitude FWD                      NaN          FWD
1        t86759            S AWD                      NaN          AWD
2        t58994             Base                      NaN          AWD
3        t86074       V6 HSE AWD                      NaN          AWD
4        t86759            S AWD                      NaN          AWD
...         ...              ...                      ...          ...
3000035  t72936      1.5T LT FWD                      NaN          FWD
3000036  t85763           LS FWD                      NaN          FWD
3000037  t57569               SE                      NaN          FWD
3000038  t65977  20d Premium AWD                      NaN          AWD
3000039  t76529    2017.5 SV FWD                      NaN          FWD

        wheel_system_display wheelbase    width  year
0          Front-Wheel Drive  101.2 in  79.6 in  2019
1            All-Wheel Drive  107.9 in  85.6 in  2020
2            All-Wheel Drive  104.3 in  78.9 in  2016
3            All-Wheel Drive    115 in  87.4 in  2020
4            All-Wheel Drive  107.9 in  85.6 in  2020
...                      ...       ...      ...   ...
3000035    Front-Wheel Drive  107.3 in  72.6 in  2018
3000036    Front-Wheel Drive  120.9 in  78.6 in  2020
3000037    Front-Wheel Drive  112.2 in  83.5 in  2016
3000038      All-Wheel Drive  111.6 in  81.7 in  2017
3000039    Front-Wheel Drive  106.5 in  72.4 in  2017

[3000040 rows x 66 columns]

In [5]:
all_columns = list(raw.columns)
print(all_columns)

['vin', 'back_legroom', 'bed', 'bed_height', 'bed_length', 'body_type', 'cabin', 'city', 'city_fuel_economy', 'combine_fuel_economy', 'daysonmarket', 'dealer_zip', 'description', 'engine_cylinders', 'engine_displacement', 'engine_type', 'exterior_color', 'fleet', 'frame_damaged', 'franchise_dealer', 'franchise_make', 'front_legroom', 'fuel_tank_volume', 'fuel_type', 'has_accidents', 'height', 'highway_fuel_economy', 'horsepower', 'interior_color', 'isCab', 'is_certified', 'is_cpo', 'is_new', 'is_oemcpo', 'latitude', 'length', 'listed_date', 'listing_color', 'listing_id', 'longitude', 'main_picture_url', 'major_options', 'make_name', 'maximum_seating', 'mileage', 'model_name', 'owner_count', 'power', 'price', 'salvage', 'savings_amount', 'seller_rating', 'sp_id', 'sp_name', 'theft_title', 'torque', 'transmission', 'transmission_display', 'trimId', 'trim_name', 'vehicle_damage_category', 'wheel_system', 'wheel_system_display', 'wheelbase', 'width', 'year']

In [6]:
# check percentages of missing values in each variable
pd.set_option('display.max_rows', None)

missing_values = raw.isnull().sum()/len(raw)*100

In [7]:
print(missing_values)

vin                          0.000000
back_legroom                 5.308896
bed                         99.347742
bed_height                  85.696924
bed_length                  85.696924
body_type                    0.451427
cabin                       97.882262
city                         0.000000
city_fuel_economy           16.375948
combine_fuel_economy       100.000000
daysonmarket                 0.000000
dealer_zip                   0.000000
description                  2.596665
engine_cylinders             3.352655
engine_displacement          5.746123
engine_type                  3.352655
exterior_color               1.665144
fleet                       47.552533
frame_damaged               47.552533
franchise_dealer             0.000000
franchise_make              19.087579
front_legroom                5.308896
fuel_tank_volume             5.308896
fuel_type                    2.757430
has_accidents               47.552533
height                       5.308896
highway_fuel_economy        16.375948
horsepower                   5.746123
interior_color              12.799363
isCab                       47.552533
is_certified               100.000000
is_cpo                      93.903481
is_new                       0.000000
is_oemcpo                   95.487993
latitude                     0.000000
length                       5.308896
listed_date                  0.000000
listing_color                0.000000
listing_id                   0.000000
longitude                    0.000000
main_picture_url            12.302936
major_options                6.668178
make_name                    0.000000
maximum_seating              5.308896
mileage                      4.812836
model_name                   0.000000
owner_count                 50.566426
power                       16.047319
price                        0.000000
salvage                     47.552533
savings_amount               0.000000
seller_rating                1.362382
sp_id                        0.003200
sp_name                      0.000000
theft_title                 47.552533
torque                      17.259537
transmission                 2.139471
transmission_display         2.139471
trimId                       3.860849
trim_name                    3.876415
vehicle_damage_category    100.000000
wheel_system                 4.891001
wheel_system_display         4.891001
wheelbase                    5.308896
width                        5.308896
year                         0.000000
dtype: float64

In [8]:
# remove variables with more than 10% missing values
variables = raw.columns
variable = []

for i in range(0,len(variables)-1):
    if missing_values[i] <=10: # set threshold to 10%
        variable.append(variables[i])
# Create dataframe with the reduced number of variables
raw_slimmed = raw[variable].copy(deep=True)

del(raw)
gc.collect()
# drop any records that have any missing values left at this point
raw_slimmed.dropna(inplace=True)

C:\Users\mrkel\AppData\Local\Temp\ipykernel_9732\2807168897.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if missing_values[i] <=10: # set threshold to 10%

In [9]:
print(raw_slimmed.head())

                 vin back_legroom        body_type      city  daysonmarket  \
0  ZACNJABB5KPJ92081      35.1 in  SUV / Crossover   Bayamon           522
1  SALCJ2FX1LH858117      38.1 in  SUV / Crossover  San Juan           207
4  SALCJ2FXXLH862327      38.1 in  SUV / Crossover  San Juan           137
5  SALYK2EX1LA261711      37.1 in  SUV / Crossover  San Juan           242
6  3MZBPABL6KM107908      35.1 in            Sedan   Bayamon           447

  dealer_zip                                        description  \
0        960  [!@@Additional Info@@!]Engine: 2.4L I4 ZERO EV...
1        922  [!@@Additional Info@@!]Keyless Entry,Ebony Mor...
4        922  [!@@Additional Info@@!]Keyless Entry,Ebony Mor...
5        922  [!@@Additional Info@@!]Tires: 21' All-Season,A...
6        960  [!@@Additional Info@@!]4-Wheel Disc Brakes,A/C...

  engine_cylinders  engine_displacement engine_type  ...     sp_id  \
0               I4               1300.0          I4  ...  370599.0
1               I4               2000.0          I4  ...  389227.0
4               I4               2000.0          I4  ...  389227.0
5               I4               2000.0          I4  ...  389227.0
6               I4               2500.0          I4  ...  370599.0

               sp_name transmission         transmission_display  trimId  \
0    Flagship Chrysler            A  9-Speed Automatic Overdrive  t83804
1  Land Rover San Juan            A  9-Speed Automatic Overdrive  t86759
4  Land Rover San Juan            A  9-Speed Automatic Overdrive  t86759
5  Land Rover San Juan            A  8-Speed Automatic Overdrive  t85614
6    Flagship Chrysler            A  6-Speed Automatic Overdrive  t85256

              trim_name  wheel_system  wheel_system_display  wheelbase  \
0          Latitude FWD           FWD     Front-Wheel Drive   101.2 in
1                 S AWD           AWD       All-Wheel Drive   107.9 in
4                 S AWD           AWD       All-Wheel Drive   107.9 in
5  P250 R-Dynamic S AWD           AWD       All-Wheel Drive   113.1 in
6             Sedan FWD           FWD     Front-Wheel Drive   107.3 in

     width
0  79.6 in
1  85.6 in
4  85.6 in
5  84.4 in
6  70.7 in

[5 rows x 42 columns]

In [10]:
print(len(raw_slimmed))

2392242

In [11]:
missing_values = raw_slimmed.isnull().sum()/len(raw_slimmed)*100

print(missing_values)

vin                     0.0
back_legroom            0.0
body_type               0.0
city                    0.0
daysonmarket            0.0
dealer_zip              0.0
description             0.0
engine_cylinders        0.0
engine_displacement     0.0
engine_type             0.0
exterior_color          0.0
franchise_dealer        0.0
front_legroom           0.0
fuel_tank_volume        0.0
fuel_type               0.0
height                  0.0
horsepower              0.0
is_new                  0.0
latitude                0.0
length                  0.0
listed_date             0.0
listing_color           0.0
listing_id              0.0
longitude               0.0
major_options           0.0
make_name               0.0
maximum_seating         0.0
mileage                 0.0
model_name              0.0
price                   0.0
savings_amount          0.0
seller_rating           0.0
sp_id                   0.0
sp_name                 0.0
transmission            0.0
transmission_display    0.0
trimId                  0.0
trim_name               0.0
wheel_system            0.0
wheel_system_display    0.0
wheelbase               0.0
width                   0.0
dtype: float64

In [12]:
col_length = len(raw_slimmed.columns)
row_number = len(raw_slimmed)

print(col_length)
print(row_number)

lengths = pd.DataFrame([col_length, row_number])

lengths.to_csv('NORMAL_results.csv', index=False, header=False)

42
2392242